* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgb(34, 50, 34);
  transition: 0.3s ease-in-out;
}

.top {
  display: flex;
  justify-content: space-between;
  text-justify: center;
  max-width: 1500px;
  margin: 2rem auto;
  gap: 30rem;
}

.image-1 img {
  width: auto;
  height: 18rem;
  margin-top: -5rem;
}

.navbar ul {
  display: flex;
  gap: 3rem;
  font-size: 1.8rem;
  margin: 2rem auto;
  list-style: none;
}

.navbar li a {
  color: white;
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.navbar li a:hover {
  color: greenyellow;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.top-but {
  margin-top: 2rem;
}

.top-but button {
  background-color: rgb(255, 191, 0);
  padding: 1.5rem;
  border: none;
  border-radius: 8px;
}

.top-but button a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: "Times New Roman", Times, serif;
}

.top-but button a:hover {
  color: rgb(0, 76, 252);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.process {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1500px;
  margin: 2rem auto;
  gap: 3rem;
}

.process .process-2 {
  border: 1px solid white;
  padding: 1rem 3rem;
  border-radius: 8 px;
}

.process h2 {
  color: rgb(255, 191, 0);
  font-size: 6rem;
}
.process h3 {
  color: white;
  font-size: 4rem;
}
.process p {
  color: rgb(214, 250, 214);
  font-size: 2.5rem;
  text-align: justify;
}

.process-3 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: 1500px;
  margin: 2rem auto;
}

.process-3 h1 {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 8rem;
}

.process-3 p {
  color: rgb(214, 250, 214);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 4rem;
  align-items: justify;
}

.let {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1500px;
  margin: 2rem auto;
  margin-top: 10rem;
}

.let-1 h1 {
  color: white;
  font-size: 8rem;
}

.let-1 .jer {
  margin-bottom: 5rem;
  margin-top: 2rem;
  font-size: 3rem;
  text-align: justify;
  margin-right: 10rem;
}
.let-1 p {
  color: rgb(214, 250, 214);
  font-size: 2.5rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.let-1 h3 {
  color: rgb(255, 191, 0);
  font-size: 3rem;
}

.let-2 form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 7rem;
}

.let-2 form label {
  color: rgb(214, 250, 214);
  font-size: 2.5rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}

.let-2 form input {
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  border: none;
  border-bottom: 1px solid rgb(214, 250, 214);
  outline: none;
  font-size: 2rem;
  background-color: transparent;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.let-2 select {
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  border: none;
  border-bottom: 1px solid rgb(214, 250, 214);
  outline: none;
  font-size: 2rem;
  background-color: transparent;
  color:  white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}

.let-2 select option {
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  border: none;
  border-bottom: 1px solid rgb(214, 250, 214);
  outline: none;
  font-size: 2rem;
  background-color: transparent;
  color: black;
}

.let-2 textarea {
  width: 100%;
  height: 10rem;
  background: transparent;
  border: none;
  border-bottom: 1px solid  rgb(214, 250, 214);
  font-size: 2rem;
  margin-top: 2rem;
  color: white;
}


.let-2 button{
  background: transparent;
  border: none;
  background-color: rgb(255, 191, 0);
  padding: 1rem 2rem;
  margin-top: 2rem;
border-radius: 8px;
}

.let-2 button a{
  color: black;
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 2rem;
  font-weight: bold;
}

.let-2 button a:hover{
  color: blue;
  transition: 0.3s ease-in-out;
}



/* FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.logo-sm {
  width: auto;
  height: 18rem;
  margin-top: -4rem;
}

.social-icons-container {
  display: flex;
  gap: 3rem;
}

.social-icons {
  width: 4rem;
}
